In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [11]:
#import the dataset
electric_utility = pd.read_csv('fuel_ferc1.csv')

#check out the first five rows of the dataset
electric_utility.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

# Question1: To extend list A with list B

In [12]:
A = [1,2,3,4,5,6]
B = [13,21,34]
A.extend(B)
A_B = A
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

# Question2: To create an identity matrix

In [13]:
np.identity(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [14]:
np.array([1,0,0],[0,1,0],[0,0,1])

ValueError: only 2 non-keyword arguments accepted

In [15]:
np.array[(1,0,0),(0,1,0),(0,0,1)]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [16]:
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

# Question3: To find the fuel_type_code with the lowest average fuel_cost_per_unit_burned

In [17]:
low = electric_utility.groupby('fuel_type_code_pudl')
low['fuel_cost_per_unit_burned'].mean().nsmallest(n=1)

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

# Question4: To describe the statistics of fuel_mmbtu_per_unit

In [18]:
electric_utility['fuel_mmbtu_per_unit'].describe().round(2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

# Question5: To find the skew and kurt of fuel_qty_burned

In [19]:
print(electric_utility['fuel_qty_burned'].skew().round(2))
print(electric_utility['fuel_qty_burned'].kurtosis().round(2))

15.85
651.37

# Question6: To find the feature with missing values, number of missing values and percentage of missing values

In [20]:
electric_utility.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [21]:
miss_val = ((180/len(electric_utility)*100))
miss_val

0.609694136774718

# Question7: To give the category of the feature with missing values

In [22]:
electric_utility.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [23]:
electric_utility['fuel_unit'].unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

# Question8: To give the second and third lowest correlation with fuel_cost_per_unit_burned

In [24]:
corre = electric_utility.corr()['fuel_cost_per_unit_burned'].sort_values()
corre

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

# Question9: To find the percent change in the fuel_cost_per_unit_burned in 1998 compared to 1994

In [25]:
coal_98 = electric_utility[(electric_utility['report_year']==1998) & (electric_utility['fuel_type_code_pudl']=='coal')]
cost_98 = coal_98['fuel_cost_per_unit_burned'].sum()

coal_94 = electric_utility[(electric_utility['report_year']==1994) & (electric_utility['fuel_type_code_pudl']=='coal')]
cost_94 = coal_94['fuel_cost_per_unit_burned'].sum()

((cost_98- cost_94) / cost_94) *100

-20.56765451826049

# Question10: To find the year with the highest average fuel_cost_per_unit_delivered

In [26]:
highest_average = electric_utility.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
highest_average

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [27]:
highest_average.nlargest(n=1)

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64